/*All images found are CC0, found on Pexels.com*/
@import url('https://fonts.googleapis.com/css?family=Merienda:400,700');

html  {
  font-size: 16px;
  font-family: Calibri, san-serif;
}

body  {
  width: 100%;
  margin: 0 auto;
}
/*global tags*/
h1, h2, h3, h4  {
  font-family: Merienda, Garamond, serif;
}

a {
  text-decoration: none;
  color: darkgray;
  transition: font-size .25s, color .25s;
}

a:hover {
  font-size: 115%;
  color: black;
}

/*header elements*/
header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 5rem;
  margin: 0 auto;
  z-index: 10;
  background-color: white;
  width: 90%;
  left: 5%;
  font-size: 1.25rem;
}

header img {
  max-height: 4rem;
  width: 12rem;
}

header h1 {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: bold;
  color: rgb(191,30,46);
}

ul  {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  margin: 0 .75rem;
}

@media only screen and (max-width: 1050px)  {
  header h1 {
    font-size: 1.5rem;
  }

  header img  {
    width: 9rem;
  }

  nav {
    width: 30%;
    font-size: 1rem;
  }
}
/*main body elements*/
main  {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
  top: 5rem;

}

/*index banner*/
#banner {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  text-align: center;
  background-color: rgba(255,255,255,.85);
  width: 60%;
  margin: 0 auto;
  border-radius: 15px;
  border: 3px outset;
}

.banner-title h1 {
  font-size: 4rem;
  margin: .125rem 0;
  color: white;
}

.banner-title h2  {
  font-size: 3rem;
  margin: 0;
  color: #CCC;
}

.sub-banner {
  height: 15rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#register-form, #about-text  {
  width: 90%;
  margin: 0 auto;
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  min-height: 65vh;
  margin: 2rem auto 1rem;

}

#services h1  {
  font-size: 3rem;
  letter-spacing: 5px;
}

.service  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.service-content  {
  width: 30%;
  min-width: 15rem;
  max-width: 20rem;
  min-heigh: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 2;
  border-radius: 15px;
}

.service-content img  {
  width: 100%;
  max-width: 23rem;
  max-height: 16rem;
  border-radius: 10px;

}

.service-content p  {
  width: 90%;
}

@media only screen and (max-width: 950px)  {
  .service {
    flex-direction: column;
  }

  .service-content  {
    width: 90%;
    max-width: initial;
    flex-direction: row;
    margin: 1rem auto;
  }

  .service-content img  {
    width: 50%;
  }

  .service-text {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .service-content img {
    display: none;
  }
}

@media only screen and (max-width: 600) {

}

/*Register.html Form style*/
fieldset  {
  margin-bottom: 1rem;
  border-color: navy;
  border-radius: 10px;
  padding: 1rem;
  min-width: 20rem;
}

form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 50%;
  margin: 0 auto;
}

#form label  {
  display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
  margin: 0.5rem 2rem;

}

input {
  margin-left: .25rem;
}

.buttons  {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

button  {
  padding: .25rem 1rem;
  background-color: navy;
  color: white;
  min-width: 8rem;
}

@media only screen and (max-width: 1000px) {
  #form {
    flex-direction: column;
  }
}

/*Footer content*/
footer {
  background: url("../images/footer-background2.jpeg");
  background-position: center 80%;
  background-repeat: no-repeat;
  background-size: cover;
    position: relative;
  top: 7rem;
  color: white;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer  div {
  display: flex;
    justify-content: space-between;
    align-items: flex-start;
  width: 85%;
  height: 7rem;
  margin: 0 auto;

}

footer div nav ul  {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
  padding-left: 0;
  margin: .125rem 0;
}

footer div nav p {
  margin-bottom: 0;
}

footer div a  {
  color: white;
}

footer div a:hover  {
  font-size: 100%;
  color: yellow;
}

@media only screen and (max-width: 600px) {
  footer div  {
    flex-direction: column;

  }
}
